<p>
  Наша майстерня спеціалізується на виготовленні кованих виробів. Ми працюємо за як зі стандартними проектами так і з індивідуально розробеними виробами. 
  Виконуємо широкий спектр замовлень - ковані квіти, огорожі, козирку, навіси, мангали, димники, віконні ґрати, ворота та інше. При роботі всі елементи виготовляються вручну, без штампованих елементів.
  Можливе виготовлення як великих партій товару, так і виконання штучних замовлень. Ми є діючими членами Асоціації ковалів України. Наші вироби регулярно приймають участь у виставках до дня міста Вінниці.
  Наша майстерня має весь спектр технологічного обладнання для виготовлення кованих виробів з металу методом гарячої ковки.
  Наш досвід роботи в ковальській справі більше 10-и років. 
  Ми надаємо повний спектр послуг - від розробки дизайну до встановлення готового виробу. 
</p>
<p> 
    
    Художественная ковка, предлагаемая мастерской «Berdo-art» будет радовать вас и ваших близких долгие годы. Она никогда не выходит из моды, способна украсить любую квартиру, загородный дом и сад, притягивает внимание и вызывает восхищение.
    
    Предлагаем вашему вниманию высококачественные изделия выполненные нашими мастерами методом ручной ковки. Все изделия эксклюзивны, выполнены по собственным проектам. 
    
    Работаем также по эскизам клиента, учитывая при этом все пожелания и рекомендации заинтересованного лица.
    
    Ассортимент изготавливаемой нами продукции достаточно широк и разнообразен. Мангалы, шампура, каминные принадлежности, мебель, различного рода декор и элементы декора, ограждения в ассортименте, кронштейны, оголовники на дымоходы, таблички, дверные ручки, подставки и подсвечники... Этот список можно ещё долго продолжать.
    
      Подробнее: https://km-kovcheg.com/about_us
    
    
    Искусство превращать металлическую болванку в ажурные узоры, цветы и птиц сохранилось только в немногих заповедниках, коими являются небольшие кузницы. А уж умение вести все процессы в ручном режиме,  контролируя удар по пруту массивным молотом — и того реже встречается в современном мире. Именно поэтому наша кузнечная мастерская носит название «Ковчег» ― мы тщательно храним традиции, доставшиеся нам от предков и изготавливаем металлические изделия с применением вековых знаний, традиционным способом.
    
    
    
      Только у нас можно купить кованый мангал,    который будет сделан с индивидуальным  вложением силы и таланта кузнеца, создавшего  уникальную вещь специально для Вас — это будет  неповторимый опыт, результатом которого  являются множество произведений кузнечного  мастерства, существующих в единственном экземпляре. Конечно, мы можем постараться для Вас повторить форму и соблюсти все размеры понравившегося проекта, и часто выполняем массовые заказы на кованые изделия, но, даже похожие внешне, они будут каждая нести отпечаток индивидуальности, как братья-близнецы имеют заметные отличия после близкого знакомства с ними.
    
    Среди наших предложений нет проектов, которые невозможно было бы воплотить в металле: и кованые дверцы для каминов, и массивные ворота для усадьбы, украшения для заборов и удобные  скамейки в тихий сквер — всё это может быть  заказано у нас в мастерской и будет выполнено со  всем профессионализмом, ​которым  славятся наши мастера. Мы стараемся не  оставить  равнодушным к древнему искусству ковки ни  одного нашего посетителя, и для этого
    
    постоянно пополняем предложение оригиналь-
    
    ными идеями, вдохновляясь которыми Вы сможете лучше определиться, что возжелает Ваше сердце.
    
    Если после посещения галереи с нашими готовыми работами у Вас появится желание купить хотя бы набор шампуров  с калёными остриями и коваными ручками — то уже наши старания не пошли прахом. Каждый раз, когда Вы будете пользоваться этим набором, Вы будете чувствовать теплоту наших рук, приложивших к  созданию непосредственное  участие, и горячий огонь наших сердец, разжигаемый как кузнечный горн,  желанием подарить каждому ту частичку любви  к металлу,  которой живём  и мы сами.
    
    Покупайте эксклюзивную ковку ручной работы: кованые подсвечники, подставки. 
    
    Эксклюзивность, которая вложена в каждое наше изделие, позволяет купить кованые подставки для цветов в качестве уникального и неповторимого подарка для человека, который Вам особенно дорог — это не просто знак внимания, а несущая особую энергетику вещь, по достоинству оценённая как за свою красоту, так и полезность. Поэтому не стоит скупиться на действительно качественную вещь: мы предлагаем уникальные кованые работы, сделанные полностью вручную, с соблюдением технологий, доставшихся нам от предков и каждая из которых неповторима в своей сущности. У нас работают мастера, которые создают настоящие шедевры, по мастерству не уступающие легендарному каменному цветку Данилы-Мастера. 
    
    ​  Теперь такая возможность есть у каждого —  купить  кованую розу для дорогого человека.  Кузнечное  дело — это не только массивные и  тяжёлые  металлические ворота замков, но и  искусные  изгибы железных скульптур. У каждого  есть шанс  привнести в свою жизнь немного  прекрасного с помощью нашей мастерской: даже просто заказав кованый навес над крыльцом, в котором украшениями будут служить птицы и цветы, или сказочные химеры, или абстрактные узоры в современном стиле — для нас нет невозможного на пути к воплощению произведений из металла. И самое главное — мы не остановились в развитии, гордо озираясь на выполненные уже работы, а продолжаем постигать секреты железа и огня, чтобы достичь самой вершины кузнечного дела. Подробнее: https://km-kovcheg.com/
</p>
